# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# ===== Virtual Environment =====
venv/
.env/
.venv/

# ===== VS Code =====
.vscode/
!.vscode/extensions.json

# ===== PyQt / Qt =====
*.ui~
*.qrc~
*.qmlc

# ===== Build / Dist =====
build/
dist/
*.spec

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db